.content-films-suggestions {
    display: flex;
    flex-direction: column;
}
.films-pic {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.films {
    width: 340px;
    height: 197px;
    border-radius: 25px;
}
.container-frames-pic {
    margin-left: 15px;
    position: absolute;
    bottom: 14px;
}